<!DOCTYPE html>
<html>
<head>
<style>
  div{
   color: black;
 }
 h6{
  color: whitesmoke;
 }

  }
</style>
</head>
<body>
<%= form_for @movie, html: { multipart: true } do |form| %>
<!-- i canot under stnd this path -->

  <% if movie.errors.any? %>
    <div style="color: red" class="input-group mb-3">
      <h2><%= pluralize(movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
        <% movie.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <h6>
    <%= form.label :title, style: "display: block" %>
  </h6>
    <%= form.text_field :title %>
  </div>

  <div>
    <h6>
    <%= form.label :description, style: "display: block" %>
    </h6>
    <%= form.text_area :description %>
  </div>

  <div>
    <h6>
    <%= form.label :movie_length, style: "display: block" %>
    </h6>
    <%= form.text_field :movie_length %>
  </div>

  <div>
    <h6>
    <%= form.label :director, style: "display: block" %>
    </h6>
    <%= form.text_field :director %>
  </div>

  <div>
    <h6>
    <%= form.label :ratting, style: "display: block" %>
    </h6>
    <%= form.text_field :ratting %>
  </div>
  <div>
    <h6>
    <%= form.label :image, style: "display: block" %>
    </h6>
    <%= form.file_field :image %>
  </div>

  <button>
    <%= form.submit %>
  </button>
<% end %>
  </body>
  </html>