<%= render @movie %>

<%= image_tag(@movie.image.url(:medium)) -%>


<div>
  <button style="background-color:black;">
  <%= link_to "Edit this movie", edit_movie_path(@movie) %>
  </button> |
  <button style="background-color:black;">
  <%= link_to "Back to movies", movies_path %>
  </button>
  <br>
  <button style="background-color:black;">
  <%= link_to "Destroy this movie", @movie, method: :delete %>
  </button>
</div>
